.loginWrapper {
  position: relative;
  z-index: 1;

  @media screen and (max-width: em(768)) {
    margin-left: 0;
    margin: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  border: 1px solid rgb(230, 230, 230);
  padding-top: rem(80);
  max-width: rem(700);
  border-radius: 20px;
  backdrop-filter: blur(10px);

  @media screen and (max-width: em(768)) {
    padding-top: rem(0);
    height: 90svh;
  }
}
